@font-face {
	font-family: 'Ostrich Sans';
	src: url('../fonts/ostrich-black.eot');
	src: local('?'), url('../fonts/ostrich-black.woff') format('woff'), url('../fonts/ostrich-black.ttf') format('truetype'), url('../fonts/ostrich-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('../fonts/ostrich-bold.eot');
	src: local('?'), url('../fonts/ostrich-bold.woff') format('woff'), url('../fonts/ostrich-bold.ttf') format('truetype'), url('../fonts/ostrich-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}